/* below button from codepen*/
/*-input pl--------------------------------------------------------------------------------------------------------------*/
@font-family : "Montserrat", sans-serif;
/*colours*/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
body .logo-area {
  position: fixed;
  z-index: 5;
  top: 40px;
  left: 40px;
  width: 70px;
  height: 70px;
  display: flex;
  cursor: pointer;
}
body .logo-area a img {
  margin: auto;
  width: 70px;
  height: 70px;
}
body .back-button {
  height: 50px;
  width: 130px;
  position: fixed;
  z-index: 5;
  top: 40px;
  right: 40px;
  display: flex;
  cursor: pointer;
}
body .back-button .button-area {
  margin: auto;
  display: flex;
}
body .back-button .button-area img {
  height: 35px;
  width: 35px;
  margin: auto;
  padding: 3%;
}
body .back-button .button-area p {
  text-decoration: none;
  color: #F2C84B;
  text-align: center;
  margin: auto;
  font-size: 32px;
  font-weight: 600;
  padding: 3%;
}
body .back-button:hover .button-area p {
  color: #182026;
  text-decoration: none;
}
body header {
  background: linear-gradient(rgba(100, 0, 50, 0.7), rgba(100, 0, 50, 0.8)), url(Assets/PEL_images/NucluesHomes.png) no-repeat center center/cover;
}
body header .row .projects-title {
  height: 85vh;
  display: flex;
}
body header .row .projects-title .green-block {
  height: 25%;
  width: 35%;
  margin-left: 35%;
  background-color: #04BFAE;
  position: absolute;
}
body header .row .projects-title h1 {
  color: #FAFAFA;
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  margin: auto;
}
body header .row .projects-title img {
  width: 50%;
  margin: auto;
}
body .project-goal .row {
  height: 130vh;
}
body .project-goal .row .project-description-area {
  height: 85vh;
  display: flex;
}
body .project-goal .row .project-description-area h4 {
  color: #0d0d0d;
  text-align: center;
  margin: auto;
  font-size: 26px;
}
body .project-goal .row .project-description-area img {
  height: 40%;
  width: 25%;
  position: absolute;
  margin-right: -5%;
  margin-top: -5%;
  right: 0;
}
body .project-goal .row .project-description-area .left {
  height: 130vh;
  width: 50%;
}
body .project-goal .row .project-description-area .left .left-line {
  border-left: 12px solid #AF144B;
  margin-left: 10%;
  margin-top: 128px;
  height: 240px;
}
body .project-goal .row .project-description-area .left .left-line h2 {
  font-size: 64px;
  color: #AF144B;
  font-weight: bold;
  margin-left: 43px;
}
body .project-goal .row .project-description-area .left .left-line h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  margin-left: 43px;
  margin-top: 104px;
}
body .project-goal .row .project-description-area .left h4 {
  font-size: 20px;
  color: #AF144B;
  font-weight: 600;
  margin-left: 18%;
  margin-top: 30px;
  text-align: left;
}
body .project-goal .row .project-description-area .left p {
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  margin-left: 18%;
  text-align: left;
}
body .project-goal .row .project-description-area .left ul li {
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  margin-left: 18%;
  text-align: left;
}
body .project-goal .row .project-description-area .right {
  height: 130vh;
  width: 50%;
}
body .project-goal .row .project-description-area .right img {
  width: 1100px;
  height: 912px;
  background-color: blanchedalmond;
  margin-right: -30%;
  margin-top: 130px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .description-with-product {
  background-color: #640032;
}
body .description-with-product .row .description-area {
  height: 85vh;
  display: flex;
  height: 200vh;
}
body .description-with-product .row .description-area .A-logo {
  height: 20%;
  width: 30%;
  position: absolute;
  margin-top: 5%;
  margin-left: 2%;
  left: 0;
}
body .description-with-product .row .description-area p {
  color: #fff;
  font-size: 26px;
  margin: auto;
  margin-left: 10%;
  padding: 1%;
}
body .description-with-product .row .description-area img {
  height: 90vh;
  width: 80%;
  position: absolute;
  margin-right: -15%;
  right: 0;
}
body .description-with-product .row .description-area .left {
  height: 130vh;
  width: 50%;
}
body .description-with-product .row .description-area .left .left-line {
  border-left: 12px solid #AF144B;
  margin-left: 10%;
  margin-top: 128px;
  height: 200px;
}
body .description-with-product .row .description-area .left .left-line h2 {
  font-size: 64px;
  color: #AF144B;
  font-weight: bold;
  margin-left: 43px;
}
body .description-with-product .row .description-area .left .left-line h3 {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 400;
  margin-left: 43px;
  margin-top: 54px;
}
body .description-with-product .row .description-area .left h4 {
  font-size: 20px;
  color: #AF144B;
  font-weight: 600;
  margin-left: 18%;
  margin-top: 30px;
  text-align: left;
}
body .description-with-product .row .description-area .left p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  margin-left: 18%;
  margin-right: 24px;
  margin-top: 73px;
  text-align: left;
}
body .description-with-product .row .description-area .left .image-area {
  height: 960px;
  width: 1280px;
  margin-left: -586px;
  margin-right: 0;
  margin-top: 44px;
  display: flex;
  background-color: #04BFAE;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .description-with-product .row .description-area .left .image-area img {
  margin: auto;
  height: 960px;
  width: 1280px;
  position: relative;
  background-color: coral;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .description-with-product .row .description-area .right {
  height: 130vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .description-with-product .row .description-area .right img {
  width: 1100px;
  height: 912px;
  margin: auto;
  margin-left: 43px;
  position: relative;
  background-color: blanchedalmond;
  margin-right: -30%;
  margin-top: 130px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .description-with-product .row .description-area .right .insights h4 {
  font-size: 18px;
  color: #AF144B;
  font-weight: bold;
  margin-left: 43px;
  margin-top: 112px;
  position: relative;
}
body .description-with-product .row .description-area .right .insights ul li {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  margin-left: 43px;
  text-align: left;
}
body .product-view .row .product-area {
  height: 85vh;
  display: flex;
  height: 180vh;
}
body .product-view .row .product-area video {
  width: 100%;
}
body .product-view .row .product-area .left {
  height: 130vh;
  width: 50%;
}
body .product-view .row .product-area .left .left-line {
  border-left: 12px solid #AF144B;
  margin-left: 10%;
  margin-top: 128px;
  height: 200px;
}
body .product-view .row .product-area .left .left-line h2 {
  font-size: 64px;
  color: #AF144B;
  font-weight: bold;
  margin-left: 43px;
}
body .product-view .row .product-area .left .left-line h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  margin-left: 43px;
  margin-top: 54px;
}
body .product-view .row .product-area .left h4 {
  font-size: 20px;
  color: #AF144B;
  font-weight: 600;
  margin-left: 18%;
  margin-top: 30px;
  text-align: left;
}
body .product-view .row .product-area .left p {
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  margin-left: 18%;
  margin-right: 24px;
  margin-top: 73px;
  text-align: left;
}
body .product-view .row .product-area .left .image-area {
  height: 653px;
  width: 1000px;
  margin-left: -300px;
  margin-right: 0;
  margin-top: 44px;
  display: flex;
  background-color: #04BFAE;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .product-view .row .product-area .left .image-area img {
  margin: auto;
  height: 653px;
  width: 1000px;
  position: relative;
  background-color: coral;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .product-view .row .product-area .right {
  height: 130vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .product-view .row .product-area .right img {
  width: 1100px;
  height: 653px;
  margin: auto;
  margin-left: 43px;
  position: relative;
  background-color: blanchedalmond;
  margin-right: -30%;
  margin-top: 130px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .product-view .row .product-area .right .insights h4 {
  font-size: 18px;
  color: #AF144B;
  font-weight: bold;
  margin-left: 43px;
  margin-top: 112px;
  position: relative;
}
body .product-view .row .product-area .right .insights .links-header {
  margin-top: 48px;
}
body .product-view .row .product-area .right .insights ul li {
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  margin-left: 43px;
  text-align: left;
}
body .product-view .row .product-area .right .insights p {
  color: #000000;
  font-size: 18px;
  margin: auto;
  margin-left: 10%;
  padding: 1%;
}
body .product-view .row .product-area .right .insights p strong {
  color: #BF436F;
}
body .product-view .row .product-area .right .insights p a {
  color: #00A6FF;
}
body .conclusion-page {
  background: linear-gradient(rgba(100, 0, 50, 0.9), rgba(100, 0, 50, 0.8)), url(Assets/PEL_images/Concuslion.png) no-repeat center center/cover;
}
body .conclusion-page .row .ending-thoughts {
  height: 85vh;
  display: flex;
  height: 60vh;
}
body .conclusion-page .row .ending-thoughts p {
  color: #fff;
  font-size: 26px;
  margin: auto;
  text-align: center;
  z-index: 5;
}
body .conclusion-page .row .ending-thoughts img {
  height: 20%;
  width: 30%;
  position: absolute;
  margin-top: 5%;
  margin-right: 2%;
  right: 0;
}
body .conclusion-page .row .left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .conclusion-page .row .left img {
  height: 20%;
  width: auto;
  margin: auto;
  position: relative;
}
body .conclusion-page .row .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .conclusion-page .row .right p {
  color: #FAFAFA;
  font-size: 18px;
  margin: auto;
  margin-left: 10%;
  padding: 1%;
  text-align: left;
}
body .my-learnings-area .row .my-thoughts {
  height: 75vh;
  display: flex;
  color: #0d0d0d;
}
body .my-learnings-area .row .left .name-image-area {
  margin: auto;
  margin-right: 1%;
  height: 40vh;
  width: 30%;
}
body .my-learnings-area .row .left .name-image-area .profile-area {
  height: 25vh;
  width: 100%;
  display: flex;
}
body .my-learnings-area .row .left .name-image-area .profile-area img {
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px #F2C84B solid;
}
body .my-learnings-area .row .left .name-image-area .name-area {
  display: block;
}
body .my-learnings-area .row .left .name-image-area .name-area h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  padding: 2%;
}
body .my-learnings-area .row .left .name-image-area .name-area h4 {
  font-size: 14px;
  text-align: center;
  margin: auto;
}
body .my-learnings-area .row .right .text-area {
  margin: auto;
  margin-left: 1%;
  display: block;
  width: 80%;
}
body .my-learnings-area .row .right .text-area h3 {
  font-size: 26;
  font-weight: 600;
  padding: 2%;
}
body .my-learnings-area .row .right .text-area p {
  font-size: 18;
  padding: 3%;
}
body footer {
  height: 10vh;
  width: 100%;
}
body footer .row .footer {
  height: 100%;
  display: flex;
  padding: 0;
}
body footer .row .footer p {
  margin-top: 3.5%;
  text-align: center;
  color: #182026;
}
body footer .row .left-footer P {
  margin-left: 10%;
}
body footer .row .right-footer P {
  margin-left: 25%;
}

/*# sourceMappingURL=input-pfour.css.map */
