/* below button from codepen*/
/*-input pl--------------------------------------------------------------------------------------------------------------*/
@font-family : "Montserrat", sans-serif;
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
body .logo-area {
  position: fixed;
  z-index: 5;
  top: 40px;
  left: 40px;
  width: 70px;
  height: 70px;
  display: flex;
  cursor: pointer;
}
body .logo-area a img {
  margin: auto;
  width: 70px;
  height: 70px;
}
body .open {
  position: fixed;
  z-index: 5;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
body .open:hover {
  opacity: 0.8;
}
body .open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #182026;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
body .open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
body .open span:nth-child(2) {
  margin-top: 25px;
}
body .open span:nth-child(3) {
  margin-top: 40px;
}
body .sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(24, 32, 38, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
body .sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
body .sub-menu li:first-child {
  margin-top: 180px;
}
body .sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
body .sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
}
body .sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
body .sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.2s;
}
body .sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
body .sub-menu li a {
  color: #FAFAFA;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
body .oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
body .oppenned span:nth-child(2) {
  overflow: visible;
}
body .oppenned span:nth-child(1), body .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
body .oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
body .oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(24, 32, 38, 0.54);
}
body .oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
body .oppenned li {
  margin-right: 168px;
}
body .oppenned li:hover a {
  text-decoration: none;
  color: #F2C84B;
  font-size: 18px;
  font-weight: 600;
}
body .button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #182026;
  overflow: hidden;
  position: relative;
}
body .button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #182026;
  z-index: 1;
}
body .button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #F2C84B;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
body .button:hover {
  text-decoration: none;
  color: #F2C84B;
}
body .button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
body .button:hover:before {
  transform: translateY(0);
}
body .desktop-site {
  display: block;
}
body .desktop-site .landing {
  background-color: #FAFAFA;
  height: 100vh;
}
body .desktop-site .landing .row .left-block {
  display: flex;
  height: 100vh;
}
body .desktop-site .landing .row .left-block .heading-area {
  color: 0d0d0d;
  height: 33.3%;
  margin: auto;
}
body .desktop-site .landing .row .left-block .heading-area h2 {
  font-weight: 400;
  font-size: 34px;
}
body .desktop-site .landing .row .left-block .heading-area h1 {
  font-weight: 600;
  font-size: 72px;
  color: #F2C84B;
}
body .desktop-site .landing .row .left-block .heading-area h3 {
  font-weight: 500;
  font-size: 34px;
}
body .desktop-site .landing .row .left-block .heading-area button {
  height: 40px;
  width: 150px;
  background: none;
  border-radius: 2px;
  border: 2px #F2C84B solid;
  margin-top: 5%;
}
body .desktop-site .landing .row .left-block .heading-area button a {
  text-decoration: none;
  color: #F2C84B;
  font-weight: 500;
}
body .desktop-site .landing .row .left-block .heading-area button:hover {
  background: #F2C84B;
}
body .desktop-site .landing .row .left-block .heading-area button:hover a {
  color: #FAFAFA;
}
body .desktop-site .landing .row .right-block {
  padding: 0;
}
body .desktop-site .landing .row .right-block .me-image-area {
  background-color: #F2C84B;
  height: 100%;
  width: 95%;
  margin-top: 3%;
  display: flex;
}
body .desktop-site .landing .row .right-block .me-image-area img {
  height: 85%;
  width: 70%;
  margin-left: -25%;
  margin-top: 18%;
}
body .desktop-site .about-me {
  height: 85vh;
}
body .desktop-site .about-me .row .brand-area {
  display: flex;
  height: 85vh;
}
body .desktop-site .about-me .row .brand-area .brand {
  background-color: #F2C84B;
  margin: auto;
  height: 350px;
  width: 350px;
}
body .desktop-site .about-me .row .brand-area .brand .image-area {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin-left: 5%;
  margin-top: -5%;
}
body .desktop-site .about-me .row .brand-area .brand .image-area img {
  height: 100%;
  width: 100%;
}
body .desktop-site .about-me .row .my-info-area {
  display: flex;
  height: 85vh;
}
body .desktop-site .about-me .row .my-info-area .my-info {
  width: 85%;
  margin: auto;
  margin-top: 20%;
  margin-left: 0;
}
body .desktop-site .about-me .row .my-info-area .my-info h1 {
  font-weight: 700;
  font-size: 44px;
}
body .desktop-site .about-me .row .my-info-area .my-info p {
  margin-top: 3%;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons {
  margin-top: 5%;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .btn {
  height: 40px;
  border-radius: 2px;
  border: 2px #F2C84B solid;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .btn a {
  text-decoration: none;
  font-weight: 500;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b1 {
  width: 150px;
  background: #F2C84B;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b1 a {
  color: #FAFAFA;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b2 {
  width: 200px;
  background: none;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b2 a {
  color: #F2C84B;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b1:hover {
  background: none;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b1:hover a {
  color: #F2C84B;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b2:hover {
  background: #F2C84B;
}
body .desktop-site .about-me .row .my-info-area .my-info .buttons .b2:hover a {
  color: #FAFAFA;
}
body .desktop-site .my-experiences {
  background-color: #FAFAFA;
  height: 130vh;
}
body .desktop-site .my-experiences .row .title-area {
  height: 30vh;
  display: flex;
}
body .desktop-site .my-experiences .row .title-area .title {
  width: 80%;
  margin: auto;
  margin-left: 5%;
}
body .desktop-site .my-experiences .row .title-area .title h1 {
  font-weight: 700;
  font-size: 44px;
}
body .desktop-site .my-experiences .row .title-area .title p {
  font-weight: 300;
  font-size: 20px;
  margin-top: 3%;
}
body .desktop-site .my-experiences .row .work-experience-area {
  height: 45vh;
  width: 80%;
  display: flex;
  margin: auto;
  padding: 0;
}
body .desktop-site .my-experiences .row .work-experience-area .block {
  display: flex;
  padding: 0;
}
body .desktop-site .my-experiences .row .work-experience-area .block .experience {
  display: flex;
  margin: auto;
  background-color: #182026;
  height: 95%;
  width: 97%;
}
body .desktop-site .my-experiences .row .work-experience-area .block .experience img {
  height: 150px;
  width: 150px;
  margin: auto;
}
body .desktop-site .my-experiences .row .work-experience-area .block .experience figcaption {
  background-color: #F2C84B;
}
body .desktop-site .my-experiences .row .work-experience-area .block .experience figcaption h3 {
  margin-top: 10%;
  color: #182026;
  text-align: center;
  padding: 2.5%;
}
body .desktop-site .my-experiences .row .work-experience-area .block .experience figcaption p {
  color: #182026;
  text-align: center;
  padding: 2.5%;
}
body .desktop-site footer {
  height: 10vh;
  width: 100%;
}
body .desktop-site footer .row .footer {
  height: 100%;
  display: flex;
  padding: 0;
}
body .desktop-site footer .row .footer p {
  margin-top: 3.5%;
  text-align: center;
  color: #182026;
}
body .desktop-site footer .row .left-footer P {
  margin-left: 10%;
}
body .desktop-site footer .row .right-footer P {
  margin-left: 25%;
}
body .mobile-site {
  display: none;
}

@media only screen and (max-width: 820px) {
  /* For mobile phones: */
  body {
    padding: 0;
  }
  body .desktop-site {
    display: none;
  }
  body .mobile-site {
    height: 100vh;
    width: 100%;
    display: block;
    background-color: #FAFAFA;
  }
  body .mobile-site .mobile-404-landing .logo-image-area {
    height: 40vh;
    width: 100%;
    display: flex;
  }
  body .mobile-site .mobile-404-landing .logo-image-area img {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 5%;
  }
  body .mobile-site .mobile-404-landing .notice-area {
    height: 30vh;
    width: 100%;
    display: inline-block;
  }
  body .mobile-site .mobile-404-landing .notice-area h1 {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    width: 100%;
    padding: 5%;
  }
  body .mobile-site .mobile-404-landing .notice-area h3 {
    margin: auto;
    margin-top: 10%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%;
    padding: 5%;
  }
  body .mobile-site .mobile-404-landing .contact-icons {
    margin: auto;
    width: 55%;
    display: flex;
  }
  body .mobile-site .mobile-404-landing .contact-icons .socials {
    margin: auto;
    display: flex;
  }
  body .mobile-site .mobile-404-landing .contact-icons .socials img {
    margin: auto;
    height: 50px;
    width: 70px;
  }
  body .mobile-site .mobile-404-landing .contact-icons .socials .email {
    height: 60px;
    width: 70px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
